<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta th:replace="fragments/globalvars :: csrfParamName" />
    <meta th:replace="fragments/globalvars :: csrfToken" />
    <title th:text="Oauth"></title>
    <script th:replace="fragments/globalvars :: csrf"></script>
    <script>
        window.onload=function(){
            var data = extractFragment(window.location.hash);
            var url = "/oauth";
            post(url, data)
        };

        function extractFragment(text) {
            decodeURIComponent(text);
            text = text.substr(1);
            text = text.split("&");
            var data = {};
            text.forEach(function(element){
                var param = element.split("=");
                if(param.length === 2) {
                    data[param[0]] = param[1];
                }
            });
            return data;
        }

        function post(path, params) {
            /*method = method || "post";
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);
            form.setAttribute("enctype","application/x-www-form-urlencoded");

            var csrfField = document.createElement("input");
            csrfField.setAttribute("type", "hidden");
            csrfField.setAttribute("name", csrfParameterName);
            csrfField.setAttribute("value", csrfToken);
            form.appendChild(csrfField);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                }
            }

            form.encoding = "application/x-www-form-urlencoded";
            document.body.appendChild(form);
            form.submit();*/

            var formData = new FormData();

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    formData.append(key, params[key]);
                }
            }
            formData.append(csrfParameterName, csrfToken);


            var request = new XMLHttpRequest();
            request.open("POST", path);
            request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            request.send(formData);
        }
    </script>
</head>

<body>
</body>
</html>